Hamba.xcodeproj/project.xcworkspace/xcuserdata/thomasfrey.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/HambaRemote/.build/
/HambaRemote/Package.resolved
/HambaRemote/.vscode/
/HambaRemote/Sources/App/Secrets/
/HambaRemote/docker-compose.yml
/HambaRemote/Dockerfile
/HambaRemote/.dockerignore
/HambaRemote/.gitignore
/HambaRemote/.swiftpm/
/Hamba.xcodeproj/
